.inputOption {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    color: gray;
    padding: 20px;
    cursor: pointer;

}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;

}

.inputOption > h4 {
    margin-left: 5px;
}